<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h3>All Users</h3>
  <ul>
    {{#each users}}
      <li>{{this.name}} - {{this.email}}</li>
    {{else}}
      <li>No users found</li>
    {{/each}}
  </ul>

  <h3>Related logs</h3>
  <ul>
    {{#each logs}}
      <li>{{this.log_message}} ({{this.timestamp}})</li>
    {{/each}}
  </ul>
</body>
</html>
